/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 8 version
*/

body {
    background-color: #1E1E1E;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.header__logo {
    padding-top:10px;
}

nav {
    max-width:520px;
    text-align:center;
}

.nav__items {
    list-style-type: none;
    padding-left: 0;
}

.header__icons {
    padding-top:10px;
}

header {
    padding-left:100px;
    padding-right:100px;
    padding-bottom:40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.nav__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
}

.header__icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__burger {
    display:none;
    -ms-grid-column-align:end;
        justify-self:end;
}


h1 {
    padding:0;
    margin:0;
    font-size:50px;
    line-height: 1.5;
}

p {
    padding:0;
    margin:0;
}

h2 {
    padding:0;
    margin:0;
}



.main1__right__img {
    width:100%;
}

button {
    background-color: #AB572D;
    border-radius: 10px;
    padding: 10px 15px;
    border: 0;
    color: #ffffff;
    font-weight: 700;
}



h2 {
    color: #AB572D;
    font-weight: 400;
    font-size: 30px;
}

p {
    font-weight: 300;
    line-height: 1.3;
}


.main4 {
    margin-bottom: 40px;
    margin-left:100px;
    margin-right:100px;
}

.main4__h2 {
    padding-bottom:30px;
    text-align: center;
}

.main4__goods {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10px 20px 260px 20px 260px 20px 260px 20px 260px 20px 10px;
    grid-template-columns: 10px repeat(4, 260px) 10px;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
}

.main4__goods img {
    width:100%;
}

.main5 {
    margin-left:30px;
    margin-right: 30px;
    padding-bottom: 40px;
}

.main5__h2 {
    padding-bottom:30px;
    text-align:center;
}

.main5__gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(24, 1fr);
    -ms-grid-rows: 480px 20px 460px 20px 460px;
    grid-template-rows: 480px 460px 460px;
    gap:20px;
}

.main5__gallery > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.main5__gallery > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.main5__gallery > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.main5__gallery > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.main5__gallery > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

.main5__gallery > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}

.main5__gallery > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
}

.main5__gallery > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 15;
}

.main5__gallery > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 17;
}

.main5__gallery > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 19;
}

.main5__gallery > *:nth-child(11) {
    -ms-grid-row: 1;
    -ms-grid-column: 21;
}

.main5__gallery > *:nth-child(12) {
    -ms-grid-row: 1;
    -ms-grid-column: 23;
}

.main5__gallery > *:nth-child(13) {
    -ms-grid-row: 1;
    -ms-grid-column: 25;
}

.main5__gallery > *:nth-child(14) {
    -ms-grid-row: 1;
    -ms-grid-column: 27;
}

.main5__gallery > *:nth-child(15) {
    -ms-grid-row: 1;
    -ms-grid-column: 29;
}

.main5__gallery > *:nth-child(16) {
    -ms-grid-row: 1;
    -ms-grid-column: 31;
}

.main5__gallery > *:nth-child(17) {
    -ms-grid-row: 1;
    -ms-grid-column: 33;
}

.main5__gallery > *:nth-child(18) {
    -ms-grid-row: 1;
    -ms-grid-column: 35;
}

.main5__gallery > *:nth-child(19) {
    -ms-grid-row: 1;
    -ms-grid-column: 37;
}

.main5__gallery > *:nth-child(20) {
    -ms-grid-row: 1;
    -ms-grid-column: 39;
}

.main5__gallery > *:nth-child(21) {
    -ms-grid-row: 1;
    -ms-grid-column: 41;
}

.main5__gallery > *:nth-child(22) {
    -ms-grid-row: 1;
    -ms-grid-column: 43;
}

.main5__gallery > *:nth-child(23) {
    -ms-grid-row: 1;
    -ms-grid-column: 45;
}

.main5__gallery > *:nth-child(24) {
    -ms-grid-row: 1;
    -ms-grid-column: 47;
}

.main5__gallery > *:nth-child(25) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.main5__gallery > *:nth-child(26) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.main5__gallery > *:nth-child(27) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.main5__gallery > *:nth-child(28) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.main5__gallery > *:nth-child(29) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
}

.main5__gallery > *:nth-child(30) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
}

.main5__gallery > *:nth-child(31) {
    -ms-grid-row: 3;
    -ms-grid-column: 13;
}

.main5__gallery > *:nth-child(32) {
    -ms-grid-row: 3;
    -ms-grid-column: 15;
}

.main5__gallery > *:nth-child(33) {
    -ms-grid-row: 3;
    -ms-grid-column: 17;
}

.main5__gallery > *:nth-child(34) {
    -ms-grid-row: 3;
    -ms-grid-column: 19;
}

.main5__gallery > *:nth-child(35) {
    -ms-grid-row: 3;
    -ms-grid-column: 21;
}

.main5__gallery > *:nth-child(36) {
    -ms-grid-row: 3;
    -ms-grid-column: 23;
}

.main5__gallery > *:nth-child(37) {
    -ms-grid-row: 3;
    -ms-grid-column: 25;
}

.main5__gallery > *:nth-child(38) {
    -ms-grid-row: 3;
    -ms-grid-column: 27;
}

.main5__gallery > *:nth-child(39) {
    -ms-grid-row: 3;
    -ms-grid-column: 29;
}

.main5__gallery > *:nth-child(40) {
    -ms-grid-row: 3;
    -ms-grid-column: 31;
}

.main5__gallery > *:nth-child(41) {
    -ms-grid-row: 3;
    -ms-grid-column: 33;
}

.main5__gallery > *:nth-child(42) {
    -ms-grid-row: 3;
    -ms-grid-column: 35;
}

.main5__gallery > *:nth-child(43) {
    -ms-grid-row: 3;
    -ms-grid-column: 37;
}

.main5__gallery > *:nth-child(44) {
    -ms-grid-row: 3;
    -ms-grid-column: 39;
}

.main5__gallery > *:nth-child(45) {
    -ms-grid-row: 3;
    -ms-grid-column: 41;
}

.main5__gallery > *:nth-child(46) {
    -ms-grid-row: 3;
    -ms-grid-column: 43;
}

.main5__gallery > *:nth-child(47) {
    -ms-grid-row: 3;
    -ms-grid-column: 45;
}

.main5__gallery > *:nth-child(48) {
    -ms-grid-row: 3;
    -ms-grid-column: 47;
}

.main5__gallery > *:nth-child(49) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.main5__gallery > *:nth-child(50) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.main5__gallery > *:nth-child(51) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}

.main5__gallery > *:nth-child(52) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}

.main5__gallery > *:nth-child(53) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
}

.main5__gallery > *:nth-child(54) {
    -ms-grid-row: 5;
    -ms-grid-column: 11;
}

.main5__gallery > *:nth-child(55) {
    -ms-grid-row: 5;
    -ms-grid-column: 13;
}

.main5__gallery > *:nth-child(56) {
    -ms-grid-row: 5;
    -ms-grid-column: 15;
}

.main5__gallery > *:nth-child(57) {
    -ms-grid-row: 5;
    -ms-grid-column: 17;
}

.main5__gallery > *:nth-child(58) {
    -ms-grid-row: 5;
    -ms-grid-column: 19;
}

.main5__gallery > *:nth-child(59) {
    -ms-grid-row: 5;
    -ms-grid-column: 21;
}

.main5__gallery > *:nth-child(60) {
    -ms-grid-row: 5;
    -ms-grid-column: 23;
}

.main5__gallery > *:nth-child(61) {
    -ms-grid-row: 5;
    -ms-grid-column: 25;
}

.main5__gallery > *:nth-child(62) {
    -ms-grid-row: 5;
    -ms-grid-column: 27;
}

.main5__gallery > *:nth-child(63) {
    -ms-grid-row: 5;
    -ms-grid-column: 29;
}

.main5__gallery > *:nth-child(64) {
    -ms-grid-row: 5;
    -ms-grid-column: 31;
}

.main5__gallery > *:nth-child(65) {
    -ms-grid-row: 5;
    -ms-grid-column: 33;
}

.main5__gallery > *:nth-child(66) {
    -ms-grid-row: 5;
    -ms-grid-column: 35;
}

.main5__gallery > *:nth-child(67) {
    -ms-grid-row: 5;
    -ms-grid-column: 37;
}

.main5__gallery > *:nth-child(68) {
    -ms-grid-row: 5;
    -ms-grid-column: 39;
}

.main5__gallery > *:nth-child(69) {
    -ms-grid-row: 5;
    -ms-grid-column: 41;
}

.main5__gallery > *:nth-child(70) {
    -ms-grid-row: 5;
    -ms-grid-column: 43;
}

.main5__gallery > *:nth-child(71) {
    -ms-grid-row: 5;
    -ms-grid-column: 45;
}

.main5__gallery > *:nth-child(72) {
    -ms-grid-row: 5;
    -ms-grid-column: 47;
}

.image {
    width:100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:end;
        -ms-flex-align:end;
            align-items:flex-end;
}

.main5__gallery__img1 {
    background-image: url(./img/collection1.png);
    background-size: cover;
    -ms-grid-row:1;
        grid-row-start:1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 9;
    grid-column-end: 10;
    
}

.main5__gallery__img2 {
    background-image: url(./img/collection2.png);
    background-size: cover;
    -ms-grid-row:1;
        grid-row-start:1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 10;
        grid-column-start: 10;
    -ms-grid-column-span: 15;
    grid-column-end: 25;
}

.main5__gallery__img3 {
    background-image: url(./img/collection3.png);
    background-size: cover;
    -ms-grid-row:2;
        grid-row-start:2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 11;
    grid-column-end: 12;
}

.main5__gallery__img4 {
    background-image: url(./img/collection4.png);
    background-size: cover;
    -ms-grid-row:2;
        grid-row-start:2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 12;
        grid-column-start: 12;
    -ms-grid-column-span: 13;
    grid-column-end: 25;
}

.main5__gallery__img5 {
    background-image: url(./img/collection5.png);
    background-size: cover;
    -ms-grid-row:3;
        grid-row-start:3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
}

.main5__gallery__img6 {
    background-image: url(./img/collection6.png);
    background-size: cover;
    -ms-grid-row:3;
        grid-row-start:3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 7;
        grid-column-start: 7;
    -ms-grid-column-span: 8;
    grid-column-end: 15;
}

.main5__gallery__img7 {
    background-image: url(./img/collection7.png);
    background-size: cover;
    -ms-grid-row:3;
        grid-row-start:3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 15;
        grid-column-start: 15;
    -ms-grid-column-span: 10;
    grid-column-end: 25;
}

.main5__gallery__p {
    font-weight: 400;
    font-size: 20px;
    margin:0;
    padding:0;
    padding: 30px;
}

.main6 {
    margin-left:30px;
    margin-right: 30px;
    background-image: url(./img/pexels-guillaume-pierre-leroy-11417443\ 2.png);
    background-size: cover;
    height:538px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom:40px;
}

.main6__content {
    max-width:500px;
    padding-left:70px;
}

.main6__content_h2 h2 {
    color: #fff;  
}

.main6__content_h2  {
    padding-bottom:20px;
}

.main6__content_h2 {
    font-size:20px;
    font-weight: 300;
    line-height: 1.5;
}

.main6__content_p {
    padding-bottom:50px;
}

.main7_h2 {
    padding-bottom:20px;
}

.main7 {
    text-align:center;
    padding-left:30px;
    padding-right:30px;
}

.main7__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap:20px;

}

.main7__content__item {
    padding-bottom:60px;
    width: 375px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}

.main7__content__item__img {
    width: 375px;
    height: 375px;
    margin-bottom: 30px;
}

.img1 {
    background-image: url(./img/articles1.png);
    background-size: cover;
}

.img2 {
    background-image: url(./img/articles2.png);
    background-size: cover;
}

.img3 {
    background-image: url(./img/articles3.png);
    background-size: cover;
}

.main7__content__item__text {
    text-align: left;
    padding-bottom: 30px;
}

.main7__content__item__text_bold {
    font-weight: 500;
    padding-bottom:5px;
}

.main7__content__item__button {
    background-color: transparent;
    border: 1px solid #fff;
}

.main7__content__item__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}

footer {
    background-image: url(./img/footerbg.png);
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 400px (1fr)[4];
    grid-template-columns: 400px repeat(4, 1fr);
    margin-left:30px;
    margin-right:30px;
    gap:10px;
}

.footer__2__triangular {
    width:15px;
    padding-left:5px;
}

.footer__img {
    max-width:192px;
    padding-bottom:20px;
}

.footer__img__icons2 {
    display: none;
}

.footer__p {
    padding:0;
    margin:0;
    font-weight: 400;
    font-size:20px
}

.email__input {
    background-color: #413535;
    color: #403F3F;
    height: 40px;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    border:0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    height:50px
}

form {
    padding-top:30px;
    padding-bottom:30px
}

.email__input__buttom {
    height: 50px;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    padding-left:10px;
    padding-right:10px;
    background-color: #AB572D;
    border:0;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer__main {
    font-weight:500;
}

.footer__item {
    font-weight:300;
    padding-bottom: 15px;
}


@media (max-width:1200px) {
    .main4__goods {
        -ms-grid-columns: 10px (1fr)[3] 10px;
        grid-template-columns: 10px repeat(3, 1fr) 10px
    }

    .main4__goods__img4 {
        display:none;
    }

    
}


@media (max-width:1100px) {
    .main5__gallery {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-rows: 450px;
    }

.image {
        grid-row: auto;
        grid-column: auto;
    }

}

@media (max-width:1015px) {
    .subcategory {
        display: none;
    }

    footer {
        -ms-grid-columns: 400px 1fr;
        grid-template-columns: 400px 1fr;
        -ms-grid-rows: (44px)[7];
        grid-template-rows: repeat(7, 44px);
    }

    footer > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    footer > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    footer > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    footer > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    footer > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    footer > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    footer > *:nth-child(7) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    footer > *:nth-child(8) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }

    footer > *:nth-child(9) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    footer > *:nth-child(10) {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
    }

    footer > *:nth-child(11) {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    }

    footer > *:nth-child(12) {
        -ms-grid-row: 6;
        -ms-grid-column: 2;
    }

    footer > *:nth-child(13) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }

    footer > *:nth-child(14) {
        -ms-grid-row: 7;
        -ms-grid-column: 2;
    }

    .footer__1 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 6;
        grid-row: 1 / 7;
    }

    .footer__2 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
    }

    .footer__3 {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
    }

    .footer__4 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
    }

    .footer__5 {
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 4 / 5;
    }
}

@media (max-width:1000px) {
    .main6 {
        background-image: url(./img/black_perfume_bg.png);
        background-size: cover;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        height:auto;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:flex-start;
    }

    .main6__content {
        padding-top:30px;
        padding-bottom:30px;
    }
}

@media (max-width:880px) {
    nav {
        display:none;
    }

    .header__icons {
        display:none;
    }

    .header__burger {
        padding-top:10px;
        display: inline-block;
    }

    header {
        padding-left:20px;
        padding-right:20px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .main4__goods {
        -ms-grid-columns: 10px (1fr)[2] 10px;
        grid-template-columns: 10px repeat(2, 1fr) 10px;
    }

    .main4__goods__img3 {
        display:none;
    }
    
}


@media (max-width:796px) {
    .main5__gallery {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        -ms-grid-rows: 300px;
        grid-template-rows: 300px;
        grid-auto-rows: 300px;
    }
}

@media (max-width:650px) {
    .main4__goods {
        -ms-grid-columns: 10px  1fr 10px;
        grid-template-columns: 10px  1fr 10px
    }

    .main4__goods__img2 {
        display: none;
    }

    .footer__img {
        display:none;
    }

    footer {
        -ms-grid-columns: 280px;
        grid-template-columns: 280px;
    }

    .footer__1 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        grid-row: 1 / 4;
    }

    .footer__2 {
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 4 / 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
    }

    .footer__3 {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-row: 5 / 6;
    }

    .footer__4 {
        -ms-grid-row: 6;
        -ms-grid-row-span: 1;
        grid-row: 6 / 7;
    }

    .footer__5 {
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        grid-row: 7 / 8;
    }

    .footer__img__icons2 {
        display: block;
    }

  
}